@charset "UTF-8";
.background{
  height:500px;
  background-image:url(../../image/coffee-background.jpg)
}
.repeat{
  height:500px;
  background: url(../../image/coffee-background.jpg) no-repeat;
}
.center-wid{
  height:500px;
  background:url(../../image/coffee-background.jpg) no-repeat center/cover;
}
.center-fit{
  height:500px;
  background:url(../../image/coffee-background.jpg) no-repeat center/contain;
}