@charset "UTF-8";
.background{
  height:500px;
  background-image:url(../../image/coffee-background.jpg)
}
.repeat{
  height:500px;
  background-repeat: no-repeat;
  background-image:url(../../image/coffee-background.jpg)
}
.center-wid{
  height:500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(../../image/coffee-background.jpg)
}
.center-fit{
  height:500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url(../../image/coffee-background.jpg)
}